<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">

    <title>Gestión de Servidor Carlos</title>
</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="{{ url_for('index') }}" class="nav__logo">
                    <i class="ri-planet-line"></i> Carlos
                </a>
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><a href="{{ url_for('index') }}" class="nav__link">Inicio</a></li>
                    <li><a href="{{ url_for('cambiar_ip') }}" class="nav__link">Cambiar Dirección de Red</a></li>

                    <li class="dropdown__item">
                        <div class="nav__link">
                            Gestión de Usuarios y Grupos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>
                        <ul class="dropdown__menu">
                            <li>
                                <!-- Enlace para gestionar usuarios -->
                                <a href="{{ url_for('gestionar_usuarios') }}" class="dropdown__link">
                                    <i class="ri-pie-chart-line"></i> Gestionar Usuarios
                                </a>                          
                            </li>
                            <li>
                                <!-- Enlace para gestionar grupos -->
                                <a href="{{ url_for('grupos') }}" class="dropdown__link">
                                    <i class="ri-arrow-up-down-line"></i> Gestionar Grupos
                                </a>
                            </li>
                            <li class="dropdown__subitem">
                                <div class="dropdown__link">
                                    <i class="ri-bar-chart-line"></i> Listado <i class="ri-add-line dropdown__add"></i>
                                </div>
                                <ul class="dropdown__submenu">
                                    <li>
                                        <!-- Enlace al listado de usuarios -->
                                        <a href="{{ url_for('usuarios') }}" class="dropdown__sublink">
                                            <i class="ri-file-list-line"></i> Listado de Usuarios
                                        </a>
                                    </li>
                                    <li>
                                        <!-- Enlace al listado de grupos -->
                                        <a href="{{ url_for('grupos') }}" class="dropdown__sublink">
                                            <i class="ri-cash-line"></i> Listado de Grupos
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a href="{{ url_for('ssh') }}" class="nav__link">Conexión SSH</a></li>
                    <li><a href="#" class="nav__link">Gestionar Discos</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--=============== MAIN JS ===============-->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>
</html>
