<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/static/assets/css/styles.css">

    <title>Conexión SSH</title>
</head>
<body>
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="{{ url_for('index') }}" class="nav__logo">
                    <i class="ri-planet-line"></i> Carlos
                </a>
            </div>
        </nav>
    </header>

    <main class="container">
        <h2>Conectar a Servidor SSH</h2>
        <form id="ssh-form" class="form">
            <label for="server_ip">Dirección IP del Servidor:</label>
            <input type="text" id="server_ip" name="server_ip" required>

            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Conectar</button>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.0.1/dist/socket.io.min.js"></script>
    <script>
        const socket = io(); // Conectar a Socket.IO

        // Obtener elementos del formulario
        const form = document.getElementById('ssh-form');

        // Al enviar el formulario de conexión SSH
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const serverIp = document.getElementById('server_ip').value;
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Emitir evento para conectar al servidor SSH
            socket.emit('connect_ssh', { server_ip: serverIp, username, password });

            // Escuchar la respuesta de la conexión SSH
            socket.on('connection_status', (data) => {
                if (data.status === 'success') {
                    // Si la conexión es exitosa, redirigir a la página de la terminal
                    window.location.href = "/terminal";
                } else {
                    // Si ocurre un error en la conexión, mostrar un mensaje al usuario
                    alert("Error al conectar al servidor SSH: " + data.message);
                }
            });
        });
    </script>
</body>
</html>
