<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/static/assets/css/styles.css">

    <title>Conexión SSH</title>
</head>
<body>
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="{{ url_for( 'index' )}}" class="nav__logo">
                    <i class="ri-planet-line"></i> Carlos
                </a>
            </div>
        </nav>
    </header>

    <main class="container">
        <h2>Conectar a Servidor SSH</h2>
        <form action="#" method="POST" class="form">
            <label for="server_ip">Dirección IP del Servidor:</label>
            <input type="text" id="server_ip" name="server_ip" required>

            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Conectar</button>
        </form>
    </main>

    <script src="../assets/js/main.js"></script>
</body>
</html>
